## @file
# CODEOWNERS
#
# Copyright (c) 2022, Intel Corporation. All rights reserved.<BR>
# SPDX-License-Identifier: BSD-2-Clause-Patent
##

*  @cronyx @FlyRouter @viktorxda
README.*  @ystinia @ZigFisher
